*, *::before, *::after {
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    line-height: 1.6;
    background: var(--clr-neutral-900);
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
