/*Titles are Poppins, SubTitles are RaleWay, normal text is Cairo*/

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
  url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Cairo";
  src: local("Cairo"),
  url("./assets/fonts/Cairo/Cairo-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Cairo", "Raleway", "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
