@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
  url("./assets/fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: Martel;
  src: local("Martel"),
  url("./assets/fonts/Martel/Martel-Regular.ttf");
}

@font-face {
  font-family: "Maitree";
  src: local("Maitree"),
  url("./assets/fonts/Maitree/Maitree-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Maitree", "Martel", "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
