/*Titles are Poppins, SubTitles are RaleWay, normal text is Cairo*/

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
  url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"),
  url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Cairo";
  src: local("Cairo"),
  url("./assets/fonts/Cairo/Cairo-Regular.ttf");
}

:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-700: hsl(207, 19%, 16%);
    --clr-neutral-600: hsl(207, 19%, 24%);
    --clr-neutral-300: hsl(207, 17%, 60%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

body {
  background-color: var(--clr-neutral-900);
  margin: 0;
  font-family: "Cairo", "Raleway", "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
