.project-card {
    color: var(--clr-neutral-100);
    background-size: cover;
    background-position: center;
    padding: 10rem 0 0;
    width: 35ch;
    height: 40ch;
    border-radius: 0.5rem;
    transition: transform 300ms ease;
    display: inline-block;
    overflow: hidden;
    margin: 2em;
    position: relative;
}

.project-card:hover, .project-card:focus-within {
    transform: scale(1.05);
}

.project-card-content {
    --padding: 1.5rem;
    position: absolute;
    /*outline: 1px solid white;*/
    height: 30ch;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / .3) 10%,
        hsl(0 0% 0% / 1)
    );
}

.project-card-title {
    position: relative;
    width: max-content;
    max-width: 100%;
}

.project-card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    bottom: -2px;
    left: calc(var(--padding) * -1);
    background: var(--clr-accent-400);
    width: calc(100% + var(--padding));
    transform-origin: left;
    transition: transform 300ms ease;
}

.project-card:focus-within .project-card-title::after,
.project-card:hover .project-card-title::after {
    transform: scaleX(1);
}

.project-card-body {
    color: rgba(255, 255, 255, 0.8);
    display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    height: 40%;
    overflow: hidden;
    /*outline: 1px solid red;*/
}

@media (hover) {
    .project-card-content {
        bottom: -18ch;
        transition: bottom 300ms ease;
    }
    .project-card:hover .project-card-content,
    .project-card:focus-within .project-card-content {
        bottom: 0;
        transition-delay: 300ms;
    }

    .project-card:focus-within .project-card-content {
        transition-duration: 0ms;
    }

    .project-card-content > *:not(.project-card-title) {
        opacity: 0;
        transition: opacity 300ms linear;
    }

    .project-card:focus-within .project-card-content > *:not(.project-card-title),
    .project-card:hover .project-card-content > *:not(.project-card-title) {
        opacity: 1;
        transition-delay: 600ms;
    }

    .project-card-title::after {
        transform: scaleX(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}
