.project-header {
    overflow-y: hidden;
    height: 30vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-content: center;
    position: sticky;
    top: 0;
}


.project-content {
    margin: 0 40px 40px 40px;
    background-image: linear-gradient(
        rgba(19, 23, 27, 0),
        var(--clr-neutral-900),
    );
}

/*.project-page:first-child {*/
/*    margin: -40px -40px 0 -40px;*/
/*}*/
