textarea:hover,
textarea:active,
textarea:focus,
input:hover,
input:active,
input:focus {
    outline: 0 !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.formTextBox {
    background-color: var(--clr-neutral-700);
    border-radius: 5px;
    padding: 5px 15px;
    transition: border 0.3s ease, color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    font-size: 18px;
    font-family: Cairo, sans-serif;
    display: inline-block;
    border: 1px solid var(--clr-neutral-700);
    color: var(--clr-neutral-300);
}

.formTextBox:focus, .formTextBox:hover {
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-900)
}

.textBoxLabelFadeIn {
    animation: fadeIn 0.5s forwards, jumpIn 0.5s forwards;
}

.textBoxLabelFadeOut {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes jumpIn {
    0% {transform: translateY(20px) translateX(5px)}
    100% {transform: translateY(0px)}
}

.requiredStar {
    color: red;
    font-size: 20px;
    font-weight: 1000;
    display: inline-block;
    position: absolute;
    transform: translateY(-12px) translateX(-5px);
    z-index: 10;
}
