.title {
    font-size: 52px !important;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    padding: 5px 0;
}

@media only screen and (max-width: 767px) {
    .title {
        font-size: 38px;
    }
}
