.title {
    font-size: 52px !important;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    padding: 5px 0;
    color: var(--clr-neutral-100);
    width: max-content;
    position: relative;
    max-width: 100%;
}

.title.is-minor {
    font-size: 46px;
    font-weight: 450;
    font-family: Poppins, sans-serif;
    padding: 5px 0;
    color: var(--clr-accent-400)
}

.title::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--clr-accent-400);
    left: 0;
    bottom: 0;
}

.title.is-minor::after {
    content: none;
}

@media only screen and (max-width: 767px) {
    .title {
        font-size: 38px;
    }
}
